{:paths ["src-cljs"]
 :deps {thheller/shadow-cljs {:mvn/version "3.4.11"}
        org.clojure/clojurescript {:mvn/version "1.12.145"}
        io.github.kotoba-lang/kotobase-storage
        {:git/url "https://github.com/kotoba-lang/kotobase-storage.git"
         :git/sha "b507198f4a27b71196d8b6e212451fe8edd3393e"}
        io.github.kotoba-lang/kotobase-engine
        {:git/url "https://github.com/kotoba-lang/kotobase-engine.git"
         :git/sha "bdc057bef0bc88b289f6f24e086a50884ee363c4"}}}
